* {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}

a {
	text-decoration:none;
	color:#000;
}

.container {
	width:100%;
}

header {
	display:flex;
	position:fixed;
	top:0;
	width:100%;
	height:100px;
	z-index:10;
}

header .header_inner {
	width:100%;
	height:100px;
	overflow:hidden;
	position:relative;
}

header .header_inner .logo {
	width:6.25%;
	min-width:100px;
	position:relative;
}

header .header_inner .logo .hd1 {
	width:100%;
	overflow:hidden;
	position:absolute;
	top:33px;
	left:10%;
}

header .header_inner .logo .hd1 img {
	width:100%;
}

header .header_inner .gnb {
	position:absolute;
	right:20px;
	top:12px;
	z-index:10;
}

header .header_inner .gnb .gnblist {
	overflow:hidden;
}

header .header_inner .gnb .gnblist li {
	float:left;
}

header .header_inner .gnb .gnblist li + li a{
	vertical-align:middle;
	margin-left:20px;
}

header .header_inner .gnb .gnblist li a {
	display:block; font-size:11px;
}

header .header_inner .gnb .gnblist li a::before {
	content:"";
	display:inline-block;
}

header .header_inner .gnb .gnblist li:first-child a::before {
	content:"";
	background:url('../img/gnbicon.png') no-repeat;
	width:14px;
	height:14px;
	vertical-align:middle;
	margin-right:4px;
	background-size:auto 100%;
	background-postion:0 0;
}

header .header_inner .gnb .gnblist li:nth-child(2) a::before {
	content:"";
	background:url('../img/gnbicon.png') -13.5px 0;
	width:12px;
	height:13px;
	vertical-align:middle;
	margin-right:4px;
	background-size:auto 100%;
}

header .header_inner .gnb .gnblist li:nth-child(3) a::before {
	content:"";
	background:url('../img/gnbicon.png') -29px 0 no-repeat;
	width:16px;
	height:15px;
	vertical-align:middle;
	background-size:auto 100%;
}

nav {
	position:fixed;
	top:0;
	right:calc(-100vw - 80px); 
	width:calc(100vw - 80%); 
	height:100%;
	background:#c4bfb9;
	transition:all .3s linear;
}

nav .mbtn {
	display:block; 
	position:fixed; 
	top:45px; 
	right:10px;
	padding:10px;
}

nav .mbtn span {
	display:block; 
	width:30px; 
	height:4px; 
	background:#1b1b1b; 
	transition:all .3s linear;
}

nav .mbtn span + span {
	margin-top:5px;
}

nav.on {
	right:0;
}
nav.on .mbtn span {
	ackground:#000;
}

nav.on .mbtn span:nth-child(1) {
	transform:translateY(12px) rotate(45deg);
}

nav.on .mbtn span:nth-child(2) {
	visibility:hidden; 
	opacity:0;
}

nav.on .mbtn span:nth-child(3) {
	transform:translateY(-6px) rotate(-45deg);
}

nav .navlist {
	margin-top:100px;
	float:right;
	text-align:right;
	width:100%
}

nav .navlist > li {
	display:block;
	width:100%;
}

nav .navlist > li > a {
	position:relative;
	display:block;
	color:#000;
	padding:10px;
	vertical-align:middle;
}

nav .navlist > li > a::before {
	content:"";
	display:block;
	width:9px;
	height:9px;
	position:absolute;
	left:20px;
	background:url('../img/snb_arrset.png') no-repeat -5px 0px;
	transform:rotate(90deg);
}

nav .navlist > li.on > a::before {
	background-position:-5px -0px;
	transform:rotate(360deg)
}

nav .navlist > li:not(.act) > a::before {
	width:9px; 
	background-position:-5px 0px; 
	right:12px;
}

nav .navlist > li:not(.act).on > a::before {
	transform:rotate(90deg);
}

nav .navlist > li .dp2 {
	padding:5px 0;
	display:none;
}
nav .navlist > li .dp2 > li {}
nav .navlist > li .dp2 > li > a {
	display:block;
	color:#000;
	font-size:0.85rem;
	padding:2px 10px;
}

nav .navlist > li .dp2 > li > a:hover {
	font-weight:bold;
	text-decoration:underline;
}

.visual {
	width:100%;
	height:calc(100vh);
	background:#9e8778;
}
.visual .visual_inner {
	width:66.76%;
	height:50vh;
	margin:0 auto;
	position:relative;
}
.visual .visual_inner .slides {
	width:100%;
	margin:0 auto;
	
}
.visual .visual_inner .slides > li {
	display:block;
	margin:0 auto;
}
.visual .visual_inner .slides > li > img {
	display:block;
	margin:0 auto;
	text-align:center;
	height:calc(100vh);
	bottom:0;
}
.visual .visual_inner .slides > li > span {
	position:absolute;
	top:100%;
	text-align:center;
	width:100%;
}

.visual .visual_inner .slides > li > span img {
	width:100%;
}

.product {
	width:100%;
	height:500px;
}

.product .prd_inner {
	width:66.76%;
	height:100%;
	margin:0 auto;
	text-align:center;
}

.product .prd_inner .prd_tit {
	padding-top:40px;
}

.product .prd_inner .prd_tit .hd4 {
	font-weight:bold;
	font-size:1.5rem;
}

.product .prd_inner .prt_tit + .prd_frame {
	margin-top:20px;
}

.prd_frame {
	
}

.prd_frame .tabmenu {
	margin:15px 0px 0px 0px;
	padding:0px;
	z-index:50;
}

.prd_frame .tabmenu > li {
	background:rgba(224,224,224,.9);
	color:#000;
	display:inline-block;
	height:50px;
	width:50%;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	float:left;
}

.prd_frame .tabmenu > li > a:hover {
	text-decoration:underline;
	font-weight:bold;
}

.prd_frame .tabmenu > li.active {
	background:#fff;
	font-weight:bold;
	box-shadow:0 5px 5px 2px rgba(220,220,220,.7);
	text-decoration:underline;
}

.tab-content {
	marign:0 auto;
	margin-top:0px;
	background:#fff;
	height:300px;
	width:100%;
	overflow:hidden;
	display:none;
	vertical-align:middle;
}

.tab-content.active {
	position:relative;
	display:inherit;
	box-shadow:0 5px 5px 2px rgba(220,220,220,.7);
	z-index:5;
}

.tab-content > ul {
	width:100%;
	padding:5px 10px;
	text-align:center;
}

.tab-content > ul > li {
	display:block;
	float:left;
	width:30%;
	text-align:center;
	margin:0 auto;
}

.tab-content > ul > li + li {
	margin-left:3%;
}

.tab-content > ul > li > .grid {
	width:100%;
	overflow:hidden;
}

.tab-content > ul > li > .grid > img {
	width:100%;
	height:auto;
}

.tab-content > ul > li > .grid > .txtinfo {
	margin:0 auto;
}

.tab-content > ul > li > .grid > .txtinfo > .hd6 {
}

.tab-content > ul > li > .grid > .txtinfo > .hd6 > a {
	font-size:1rem;
}

.tab-content > ul > li > .grid > .txtinfo > .stxt {
	font-size:0.81rem;
	margin-top:2px;
}

.tab-content > ul > li > .grid > .txtinfo > .stxt.desc {
	height:30px;
}

.tab-content > ul > li > .grid > .txtinfo > .stxt.price {
	bottom:0;
	font-size:0.9rem;
	font-weight:bold;
	margin-top:10px;
	
}

.g_item {
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
	top:20px;
}

.g_item ul li {
	display:inline-block;
	margin-right:10px;
	background:#fff;
	border:1px solid #bcbcbc;
	width:10px;
	height:10px;
	border-radius:50%;
}

.g_item ul li.on {
	background:#bcbcbc;
}

.product + .info {
	margin-top:2%;
}

.info {
	width:66.76%;
	height:350px;
	margin:0 auto;
}

.info .info_inner {
	width:100%;
	height:40vh;
}

.event {
	display:flex;
	width:49%;
	float:left;
}

.event .event_inner {
	width:100%;
	height:300px;
	box-shadow:0 5px 5px 2px rgba(220,220,220,.7);
}

.event .event_inner .event_tit {
	text-align:center;
	font-size:1.5rem;
}

.event .event_inner .event_frame {
	width:100%;
	margin-top:3%;
	height:37vh;
}

.event .event_inner .event_frame .eventlist {
	padding:0 3% 3% 3%;
	overflow:hidden;
	height:37vh;
}

.event .event_inner .event_frame .eventlist > li + li {
	margin-top:0.3%;
}

.event .event_inner .event_frame .eventlist > li {
	margin:0 auto;
}

.event .event_inner .event_frame .eventlist > li > a img {
	width:100%;
	max-width:350px;
}

.event + .sns {
	margin-left:2%;
}

.sns {
	display:flex;
	width:49%;
	float:right;
}

.sns .sns_inner {
	width:100%;
	height:300px;
	box-shadow:0 5px 5px 2px rgba(220,220,220,.7);
	background:#c4bfb9;
}

.sns .sns_inner .sns_tit {
	position:relative;
	text-align:left;
	font-size:1rem;
	top:2vh;
	left:4%;
}

.sns .sns_inner .sns_tit .hd4 {
}
.sns .sns_inner .sns_frame {}
.sns .sns_inner .sns_frame .sns_link {}

footer {
	width:100%;
	height:150px;
	background:#424242;
}

footer .footer_inner {
	font-size:.7rem;
	color:#fff;
	width:66.76%;
	margin:0 auto;
}
footer .footer_inner .f_left {
	width:50%;
	height:150px;
	float:left;
}

footer .footer_inner .f_left .f_top {
	position:relative;
	height:75px;
	left:20px;
	top:60px;
}

footer .footer_inner .f_left .f_bottom {
	height:75px;
}

footer .footer_inner .f_left .f_bottom .f_bottom_link {
	position:relative;
	top:15px;
	left:20px;
}

footer .footer_inner .f_left .f_bottom .f_bottom_link > li + li {
	margin-left:5px;
}

footer .footer_inner .f_left .f_bottom .f_bottom_link > li {
	float:left;
}

footer .footer_inner .f_left .f_bottom .f_bottom_link > li > a {
	color:#fff;
}

footer .footer_inner .f_left .f_bottom .f_bottom_link > li > a:hover {
	color:#bcbcbc;
	text-decoration:underline;
}

footer .footer_inner .f_right {
	width:50%;
	position:relative;
	line-height:150px;
	line-height:.7;
	font-size:.6rem;
	top:20px;
	float:right;
	text-align:right;
	right:20px;
}


